<header>
    <nav>
        <ul>
            </li>
                <form action="http://127.0.0.1:5500/Proyecto_Front/frontend/bienvenida.html" method="GET" autocomplete="off">
                    <input type="submit" value="Volver" class="btn-login">
                </form>
            </li>
        </ul>      
    </nav>
</header>