body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 15px 0;
}

h1 {
    margin: 0;
}


/* Barra de navegaci贸n */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 10px 0 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: var(--color-primario);
    font-weight: bold;
}

nav ul a:hover {
    color: white;
}

/* Secci贸n principal */
main {
    padding: 30px;
}

/* Formularios */
form {
    margin: 0 auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select {
    padding: 8px;
    border: 1px solid var(--color-primario);
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"],
button {
    background-color: var(--color-primario);
    color: var(--acento);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #ffe44d;
}

/* Cards de productos en dashboard */
.card-producto {
    background-color: white;
    border: 1px solid var(--color-primario);
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}

.card-producto img {
    width: 100%;
    border-radius: 6px;
}

/* Contenedor de los productos buscados por id */
#lista-productos {
    position: relative;
    margin-top: 30px;
    height: 180px;
}

/* Imagen */
#prod-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: auto;
}

/* Info */
#prod-info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Bot贸n */
#prod-btn {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 8px 12px;
}

/* login */
.error-message {
    padding: 10px;
    border: 2px solid #eb99a1;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #eb99a1;
}

/* cerrar sesi贸n */
#logout input[type="submit"] {
    background-color: var(--color-primario);
    color: var(--color-secundario); 
    font-weight: bold;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    margin:auto;
    display: block;
}

#login-form input[type="button"] {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

/* Hover uniforme para ambos botones */
#login-form input[type="button"]:hover {
    background-color: #ffe44d;
}